@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

*::-webkit-scrollbar {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fixed {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--bg-color);
}

.block {
    width: 100vw;
    height: 132px;
    background-color: var(--bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    height: 88px;
    background-color: var(--primary-color);
}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 12px 32px;
    font-size: 1rem;
    font-weight: 700;
}

nav .btn {
    background-color: var(--bg-color);
}

nav .btn a {
    text-decoration: none;
    color: var(--primary-color);
}

.btn:active {
    background-color: var(--bg-color);
    color: var(--primary-color);
}

.btn a {
    text-decoration: none;
    color: white;
}

.send {
    position: absolute;
    right: calc(50% - 48px);
    bottom: 32px;
}

.totalQuantity {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: white;
    color: white;
    /* color: var(--primary-color); */
    margin-left: 8px
}

.show {
    color: var(--primary-color);
}


.tabs {
    display: flex;
    padding: 0;
    list-style-type: none;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0;
}

.tabItem {
    word-break: keep-all;
    padding: 12px 36px;
    font-weight: 700;
    /* border-bottom: 6px var(--primary-color) solid; */
}

.tabItem a {
    color: var(--primary-color);
    text-decoration: none;
}

.tabItem.active-scroll-spy {
    background-color: var(--primary-color);
    border-bottom: 6px var(--primary-color) solid;
}

.tabItem.active-scroll-spy a {
    color: white;
}

html {
    scroll-padding-top: 140px;
}

/* li.tabItem:hover,
div#A:hover ~ li.tabItem a[href="#A"]{
    background-color: var(--primary-color);
    border-bottom: 6px var(--primary-color) solid;
} */

.w33 {
    width: calc(100% / 3);
    text-align: center;
}

.w66 {
    width: calc(100% / 3 * 2);
    text-align: center;
}

.w50 {
    width: 50%;
    text-align: center;
}

.float {
    float: left;
    height: 84vh;
}

.container {
    /* min-height: calc(100vh - 70px); */
    margin: 32px;
}

.container h3 {
    margin-top: 64px;
}

.center {
    text-align: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuInfo {
    width: calc((100vw - 96px) / 4);
}

.menuInfo strong {
    display: block;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 1.2rem;
}

.menuInfo span {
    display: block;
    /* margin-top: 16px; */
    font-size: 1.2rem;
    font-weight: 300;
}

.menuInfo p {
    color: #6B6661
}

.menuInput,
.cartInput,
.itemCount {
    background-color: var(--primary-color);
    padding: 4px;
    display: inline-block;
    color: white;
}

.menuInput {
    margin-bottom: 16px;
    height: 36px;
}


.menuInput button,
.cartInput button {
    border: 0;
    background: none;
    color: white;
    font-size: 1.2rem;
}

.menuInput span,
.cartInput span,
.itemCount span {
    font-size: 1.2rem;
}

.menuInput input[type=number] {
    background-color: var(--primary-color);
    color: white;
    border: 0;
    font-size: 1.2rem;
    width: 12px;
    height: 26px;
    padding: 0;
    text-align: center;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

.menuImg {
    width: calc((100vw - 96px) / 5);
    height: calc((100vw - 96px) / 5);
    margin: calc(((100vw - 96px) / 8) - ((100vw - 96px) / 10));
    object-fit: contain;
    /* background-color: lightgray; */
}

.cartCard {
    margin: 16px 64px;
}

.cartImg {
    width: calc((100vw - 128px) / 6);
    height: calc((100vw - 128px) / 6);
    object-fit: contain;
    /* background-color: var(--bg-color); */
}

.cartInfo {
    width: calc((100vw - 128px) / 6);
    text-align: start;
    padding-left: 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cartInfo h5 {
    margin: 0;
}

.itemCount {
    width: 36px;
    height: 36px;
    text-align: center;
}


/* form {
    padding: 0 15%;
}

.form {
    display: flex;
    justify-content: space-between;
}

.input {
    text-align: start;
    display: block;
    width: calc(40%);
    margin: 24px 0px;
}

.input span {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 8px;
}

.input input[type=text],
.input input[type=tel],
.input input[type=date],
.input select {
    height: 40px;
}

.input input[type=text],
.input input[type=tel],
.input input[type=date],
.input select,
.input textarea {
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    border: 0;
    padding: 8px 4px;
    font-size: 1rem;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
} */



input:checked {
    accent-color: var(--primary-color)
}

.checkedShow {
    display: none;
}

input[type=radio]:checked~.checkedShow {
    display: inline-block;
}